{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Название у нас будет proudcts -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}

<h3>{{ date_time_now }}</h3>
<hr>
<table>
    <thead>
        <th>
            Name
        </th>
        <td>
            Category
        </td>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Author
        </th>
    </thead>
    <tr>
        <td>
            {{ product.name|title }}
        </td>
        <td>
            {{ product.category.name|title }}
        </td>
        <td>
            {{ product.description }}
        </td>
        <td>
            {{ product.quantity }}
        </td>
        <td>
            {{ product.author }}
        </td>
    </tr>
</table>

{% endblock content %}