{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Product list
{% endblock title %}


{% block content %}
<h2>{{ date_time_now }}</h2>
<h2>Вы действительно хотите удалить данную новость?</h2>
<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Quantity
        </th>
        <th>
            Author
        </th>
    </thead>
    <tr>
        <td>
            {{ product.name|title }}
        </td>
        <td>
            {{ product.category.name|title }}
        </td>
        <td>
            {{ product.quantity }}
        </td>
        <td>
            {{ product.author }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %}